{{ template "layout.html" . }}

{{ define "content" }}
<h2>WebAuthN demo</h2>

<p>
    {{ if .User }}
    Welcome {{ .User.Username }}
    {{ else}}
    Login or register
    {{ end }}
</p>

{{ if .User }}
<a aria-label="Log out" href="/logout">
    <button style="display:inline-block" aria-label="Log out" id="logout-button">Log out</button>
</a>
{{ else }}
<form id="login" method="post">
    <button style="display:inline-block" aria-label="Log in" type="submit" id="login-button">Log in</button>
</form>

<hr>

<div>
    <form id="register" action="/register" method="post">
        <label for="username" aria-label="Username">Username</label>
        <input type="text" name="username" placeholder="Username" required minlength="2">
        <button type="submit" aria-label="Register" id="register-button">Register</button>
    </form>
</div>
{{ end }}


<script src="/static/js/main.js"></script>

{{ end }}
